:{$PORT:80} {
  encode gzip

  handle /api/* {
    reverse_proxy {$API_UPSTREAM} {
      header_up Host {upstream_hostport}
    }
  }

  handle /assets/* {
    root * /srv
    @existingAsset file
    header @existingAsset Cache-Control "public, max-age=31536000, immutable"
    file_server
  }

  handle {
    root * /srv
    header Cache-Control "no-cache"
    try_files {path} /index.html
    file_server
  }
}
